<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/global.css">
  </head>
  <body>
    <div class="card">
      <h2>Login</h2>
      <p th:if="${error}" th:text="${error}" class="error"></p>
      <form th:action="@{/login}" th:object="${LoginRequest}" method="post">
        <label>Email</label>
        <input
          type="text"
          th:field="*{email}"
          placeholder="Enter email"
          required
        />
        <label>Password</label>
        <input
          type="password"
          th:field="*{password}"
          placeholder="Enter password"
          required
        />
        <button type="submit">Login</button>
      </form>
      <p>Don't have an account? <a th:href="@{/auth/register}">Register here</a></p>
    </div>
  </body>
</html>
